#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 30px 60px;
  background:url("../background-img.png");

  background-repeat: repeat-y;
  background-size: contain;
  
  position: relative;
  top: 10;
  left: 0;
  
}
